.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.orangeLink, .orangeLink a:visited,  .orangeLink a{
  color: orange;
  font-size:110%;
}



.redLink, .redLink a:visited, .redLink a {
  color: red;
  font-size:110%;
}

.purpleLink, .purpleLink a:visited, .purpleLink a {
  color: purple;
  font-size:110%;
}


.blueLink {
  color: blue;
}

.citySel, .citySel a:active, .citySel a:hover, .citySel a:link, .citySel a {
  font-weight: bold;
  text-decoration: underline;
}


.oSel, .oSel a:active, .oSel a:hover, .oSel a:link, .oSel a {
  text-decoration: none;
}

#ny a:hover, #oc a:hover {
  text-decoration: none

}

#ny {
  color: red;
}

#oc {
  color: orange;
}

.cityHeader {
  text-align: center;
  color: orange;
}

  .castMembs {
    width: 100%;
    text-align: center;    
    border-bottom: 1px solid #eee;
    
    }
  .castMembs li {
      float: none;
      display: inline-block;

    }
    .castMembs li a {
      color: orange;

    }
    .castMembs li a:hover {
      background-color: orange;
      color: white;
    }
  
  
.selCM {  
  background-color: #fff6e5;
  color: #fff6e5;
  border-radius: 5px;
  font-weight: bold;
  font-size: 125%;
}

#vgunvalson, #tamrabarney, #rhoc_kellydodd, #realocemily, #gkirschenheiter, #shannonbeador {
  font-size: 120%;
  color: orange;
  background-color: transparent;
}

#vgunvalson:hover, #tamrabarney:hover, #rhoc_kellydodd:hover, #realocemily:hover, #gkirschenheiter:hover, #shannonbeador:hover {
  background-color: #fff6e5;
  color: orange;
}

.dispTypes {
    width: 100%;
    text-align: center;    
}

.dispTypes h4, .dispTypes li {
      float: none;
      display: inline-block;

    }

#detailSelect {
  background-color: orange;
  color: white;
}

#otherDetail {
  color: orange;
}



